@import url("demo.css");

body {
    height: 100VH;
    margin: 0%;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: maroon;
    color: rgb(219, 213, 213);
    padding: 1rem 7rem;
    font-family: 'Spectral SC', serif;
}

nav {
    background-color: rgb(219, 213, 213);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: .3rem .2rem;
    height: 40px;
    width: 500px;
}

nav a {
    padding: .3rem .7rem;
    text-decoration: none;
    color: green;
}

.bar {
    display: flex;
    align-items: center;
    padding: .2rem .3rem;
}

main {
    background-image: url("https://cdn.instructables.com/FLQ/N6EU/HFPTIJFO/FLQN6EUHFPTIJFO.MEDIUM.jpg");
    height: 145%;
    display: flex;
    justify-content: space-around;
    align-content: center; 
}

.inside {
    color: rgb(219, 213, 213);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 22rem;
}

button {
    background-color: rgb(219, 213, 213);
    border: none;
    font-size: 40px;
    box-shadow: 0 9px gray;
}

button:hover {
    background-color: gray;
    border: none;
}

footer {
    position: absolute;
    top: 150%;
    height: 50%;
    width: 100%;
    background-color: maroon; 
    color:rgb(219, 213, 213);
}

section {
    display: flex;
    margin-right: 6em;
    margin-left: 5em;
}

.AboutUs {
    width: 30%
}

.ContactUs {
    width: 30%;
}

p { 
    position: relative;
    margin-left: 0em;
    margin-right: 15em;
}

.Inst {
    position: absolute;
    right: 15%;
    height: 20em;
}

img {
    height: 20%;
}

.copy {
    position: relative;
    bottom: -30%;
    left: 1rem;
    border-style: solid;
    border-width: 1px;
    padding: .3rem;
    max-height: 12%;
    max-width: 96%;
}

.site-nav-social {
    background-color: rgb(219, 213, 213);
    max-height: 2rem;
    position: relative;
    left: 60em;
    bottom: 3rem;
}